.card {
    width: 300px;
    height: 450px;
    background-color: #353535;
    box-shadow: 5px 5px 10px #575757;
    border-radius: 10px;
    transition: 0.3s;
}

.card img {
    width: 300px;
    padding: 20px;
}

.card h3 {
    margin: 0px 10px;
}

.card p {
    margin: 15px;
    color: rgba(255, 255, 255, 0.548);
}

.card:hover, .card:hover a {
    transform: scale(1.05) rotate(1deg);
    transition: 0.3s;
    background-color: #f37a7a;
    color: #fcf2e5;;
    cursor: pointer;
}